/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper {
    width: 320px;
    padding: 16px 16px;
    background-color: #41545c;
    color: #f3eeee;
    overflow-y: auto;
  }
  .wrapper_img {
    width: -webkit-fill-available;
  }
  .wrapper_img img {
    width: -webkit-fill-available;
  }
  .wrapper_info h4 {
    font-size: 20px;
  }
  .wrapper_info p {
    font-size: 14px;
  }