/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper {
    width: 340px;
    padding: 16px 16px;
    background-color: #41545c;
    color: #f3eeee;
    overflow-y: auto;
  }
  .wrapper_img {
    width: -webkit-fill-available;
  }
  .wrapper_img img {
    width: -webkit-fill-available;
  }
  .wrapper_info h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
  .wrapper_info h4 span {
    color: #f4b80f;
    border-bottom: 1px solid #f4b80f91;
  }

  .footer{

  }
  .footer .footer__link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 8px;
  }
  .footer__link li{
    width: -webkit-fill-available;
    list-style-type: none;
    margin: 0px;
  }
  .footer__link img{
    width: 48px;
  }